@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pascal Case</h1>
</div>

<form method="post" asp-page="Index">
    <div class="form-group">
        <h1 asp-for="P_Case">Pascal Case</h1>
        <textarea asp-for="P_Case" class="form-control" placeholder="Enter The Text" autocomplete="off"></textarea>
        <!--<input asp-for="P_Case" class="form-control" placeholder="Enter Name" autocomplete="off" />-->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>